# Dependency directories
node_modules/

# Environment variables
.env
server/.env
server/.env.local
server/.env.*.local
!server/.env.example

# Build files
dist/
build/

#VS CODE
.vscode

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Lokale JSON data (valgfrit - hvis du vil have din data med i git, så fjern denne)
# server/data/*.json